{% extends 'main/layout.html' %}

{% block title %}
Contact Page
{% endblock %}

{% block main_info_bl %}
<div class="center_block text-center">
    <br>
    <h1 style="margin-bottom:5%;">Contacts</h1>
    <h2 class="text-secondary"><a href="https://vk.com/im" style="text-decoration:none; color: #F5FFFA">Vk</a></h2>
    <h2 class="text-secondary"><a href="https://t.me/timuuuuuuuuuu" style="text-decoration:none; color: #F5FFFA">Telegram</a></h2>
    <h2 class="text-secondary"><a href="https://github.com/TimurGayazov" style="text-decoration:none; color: #F5FFFA">GitHub</a></h2>
</div>
{% endblock %}